*{
    text-align: center;
}
body {
    font-family: "Nunito Sans";
}
h3 {
    padding-left: 30px;
    padding-right: 20px;
    font-weight: 700;
}
label {
    padding-top: 4px;
    padding-left: 4px;
}
.bg-color:hover label {
    color: #31a1f2;
}
.btn-custom {
    background-color: #31a1f2;
}